includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ../tmp/joomla/build/phpstan/phpstan.neon

parameters:
	level: 8
	phpVersion: 80100
	reportUnmatchedIgnoredErrors: false
	tmpDir: /tmp/phpstan/%env.DPDOCKER_EXTENSION_NAME%
	bootstrapFiles:
		- joomla-bootstrap.php
	scanDirectories:
	  - ../tmp/joomla
	excludePaths:
		analyseAndScan:
			- */tests/*
			- */docs/*
			- */vendor/*
			- */deleted.php
			- */AcceptanceTesterActions.php
			- */rector.php
	stubFiles:
		- stubs/Form.stub
		- stubs/ListModel.stub
	universalObjectCratesClasses:
		- Joomla\CMS\Categories\CategoryNode
	dynamicConstantNames:
		- JDEBUG
	ignoreErrors:
		- message: '#Variable \$this might not be defined.#'
		  path: */tmpl/*
		- message: '#Variable \$displayData might not be defined.#'
		  path: */layouts/*
		- message: '#no value type specified in iterable type array.#'
		- message: '#Call to deprecated method triggerEvent\(\)#'
		- message: '#Call to method triggerEvent\(\) of deprecated interface#'
		- message: '#Call to deprecated method getErrors?\(\)#'
		- message: '#Path in require_once\(\) "([^"]+)/DPDocker/code/tmp/joomla\\#'
		- message: '#expects array, Joomla\\Event\\DispatcherInterface given#'
		- message: '#of deprecated interface Joomla\\Database\\Query\\PreparableInterface#'
		- message: '#of deprecated interface Joomla\\Database\\Query\\LimitableInterface#'
		- message: '#Call to method get\(\) of deprecated class Joomla\\CMS\\MVC\\Model\\State#'
		- message: '#constructor expects Joomla\\Database\\DatabaseDriver, Joomla\\Database\\DatabaseInterface given#'
